<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <h1>Blogs</h1>
    <!-- SIMPLE LIST OF ENTRIES 
        
        <ul>
        <% blogs.forEach(function(blog) { %>
            <li>
                <h2><%= blog.title %></h2>
                <p><%= blog.content %></p>
            </li>
        <% }); %>
    </ul> -->

    <ul>
        <% blogs.forEach(function(blog, index) { %>
            <li>
                <h2><a href="/edit-blog/<%= index %>"><%= blog.title %></a></h2>
                <p><%= blog.content %></p>
                <!-- Add a form for deletion -->
                <form action="/delete-blog/<%= index %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>


    
</body>
</html>